
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height:400px;width:800px;">

    <p>Object : {{ data.object }}</p>
    <span> body</span>
    <p>{{ data.body }}</p>
    <p>**********************</p>
    <span>To: </span><span>{{ data.email }}</span>
</div>
</body>
</html>