{# src/OC/PlatformBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}


<div class="list-group">
    {% for advert in listAdverts %}
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1"> {{ advert.titre }}</h6>
                <small> {{ advert.date | date("m/d/Y") }}</small>
            </div>
        </a>
    {% endfor %}
</div>
