{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "::HTMLLayout.html.twig" %}
{% block body %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if (error is defined) and error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}